---
layout: index
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Boonville Amateur Radio Club</h1>
        <p>The official website of the W0BRC Boonville Amateur Radio Club</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            {% include index/summary.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 text-center">
            {% include index/nws-advisories.html %}
        </div>
        <div class="col-sm-5 text-left" style="border:thin solid">
            {% include index/nws-current-conditions.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><br/></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            {% include index/recent-posts.html %}
        </div>
        <div class="col-sm-3 text-center">
            {% include index/facebook-widget.html %}
        </div>
        <div class="col-sm-2 text-center">
            {% include index/hamsolar-widget.html %}
        </div>
    </div>
</div>
