---
layout: index
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<div class="header-container jumbotron">
    <div class="container">
        <h1>W0BRC Boonville Amateur Radio Club</h1>
        <p>Ham Radio in Cooper County Missouri</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            {% include index/summary.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-12 text-center">
                {% include index/nws-advisories.html %}
            </div>
            <div class="col-sm-12">
                <div class="h-divider"></div>
                <a href="/hamfests/2020.html">
                    <div id="hamfest-title">
                    </div>
                </a>
                <div id="hamfest-content">
                </div>
                <div class="h-divider"></div>
            </div>
            <div class="col-sm-12">
                {% include index/recent-posts.html %}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-12 text-left" style="border:thin solid">
                {% include index/nws-current-conditions.html %}
            </div>
            <div class="col-sm-12">
                <p><br/></p>
            </div>
            <div class="row">
                <div class="col-sm-7 text-center">
                    {% include index/facebook-widget.html %}
                </div>
                <div class="col-sm-5 text-center">
                    {% include index/hamsolar-widget.html %}
                </div>
            </div>
        </div>
    </div>
</div>
