---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Local 2-Meter Nets</h1>
        </div>
        <div class="col-sm-12 text-center">
            <p>
            If you wish to have a net added/changed on this page, <a href="/about/contact">contact us</a> so we can get the information updated as soon as possible.
            </p>
        </div>
        <div id="no-more-tables">
            <table class="col-sm-12 table-bordered table-hover table-striped table-condensed cf">
        		<thead class="cf">
                    <tr>
                        <th>Location</th>
                        <th>Net Name</th>
                        <th>Frequency</th>
                        <th>Offset</th>
                        <th>Tone</th>
                        <th>Time</th>
                        <th>Day</th>
                        <th>Callsign/Operator</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for net in site.data.nets %}
                    <tr>
                        <td data-title="Location">{{ net.location }}</th>
                        <td data-title="Net Name">
                            {% if net.name == null %}
                            &nbsp;
                            {% else %}
                            {{ net.name }}
                            {% endif %}
                        </td>
                        <td data-title="Frequency">{{ net.frequency }}</td>
                        <td data-title="Offset">
                            {% if net.offset == null %}
                            &nbsp;
                            {% else %}
                            {{ net.offset }}
                            {% endif %}
                        </td>
                        <td data-title="Tone">
                            {% if net.tone == null %}
                            &nbsp;
                            {% else %}
                            {{ net.tone }}
                            {% endif %}
                        </td>
                        <td data-title="Time">{{ net.time }}</td>
                        <td data-title="Day">{{ net.day }}</td>
                        <td data-title="Callsign/Operator">{{ net.callsign }}</td>
                        <td data-title="Notes">
                            {% if net.notes == null %}
                            &nbsp;
                            {% else %}
                            {{ net.notes }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
