<div>
    <p>
        We are excited to announce "The Return of the Boonville Hamfest" which will be held on Saturday, March 26, 2022, with doors opening at 8 AM again at the <a target='_blank' href='https://maps.google.com/?q=Cooper+County+Fairgrounds+Boonville+MO'>Cooper County Youth Fairgrounds</a>.
    </p>
    <p>
        If you would like to purchase a table for your wares or are making plans to attend, please visit and bookmark our <a href='/hamfests/2022'>2022 Hamfest page</a> for more information. Additional details will be added as they become available.
    </p>
    <p>
        We hope to see you there!
    </p>
</div>
