<div>
    <a href="http://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!">
        <div class="col-sm-12 hidden-lg">
            <img class="img-responsive center-block" src="http://www.hamqsl.com/solar101vhf.php" alt="Current HF Propagation and Solar-Terrestrial Data"></img>
        </div>
        <div class="col-lg-12 hidden-sx hidden-sm hidden-md">
            <img class="img-responsive center-block" src="http://www.hamqsl.com/solar101vhfpic.php" alt="Current HF Propagation and Solar-Terrestrial Data"></img>
        </div>

    </a>
</div>
