<div id="nws-current-conditions">
    <div class="row">
        <a target="_blank" href="https://forecast.weather.gov/MapClick.php?lat=38.96085&lon=-92.75202">
            <div class="col-sm-4 text-center">
                <div class="row">
                    <p>Current Weather</p>
                </div>
                <div class="row">
                    <img id="nws-summary-img"></img>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <br/>
                            <h4><b><p id="nws-summary"></p></b></h4>
                        </div>
                        <div class="row">
                            <h4><b><p id="nws-temperature"><p></b></h4>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>Dewpoint:</b></p>
                            </div>
                            <div class="col-sm-6">
                                <p id="nws-dewpoint"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>Humidity:</b></p>
                            </div>
                            <div class="col-sm-6">
                                <p id="nws-humidity"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>Wind:</b></p>
                            </div>
                            <div class="col-sm-6">
                                <p id="nws-wind"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>Barometer:</b></p>
                            </div>
                            <div class="col-sm-6">
                                <p id="nws-barometer"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p><b>Updated</b><span id="nws-timestamp"></span</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
