<div>
    <p>
    <b><a href="/about/repeaternet#repeater-info">Repeater</a>:</b> 147.360 MHz (+), PL 127.3
    <b>|</b> <b><a href="/about/repeaternet#net-schedule">Nets</a>:</b> Thursdays @ 8:30 PM
    <b>|</b> <b><a href="/about/meetings#meetings">Next Meeting</a>:</b> <span id="next-meeting-date">2nd Saturday of the Month</span> @ 9:00 AM in the <a target="_blank" href="https://maps.google.com/maps?q=200+Main+St,+Boonville,+MO+65233">Cooper County Emergency Operations Center</a>
    </p>
</div>
